body {
    background-color: white;
    color: green;
    font-size: small;
}
div , table, tr, td{
    background-color: white;
    color: green;
    font-size: small;
}
.header{
	font-weight: bold;
    font-size: medium;
	text-align: center;
	color: white;
	background-color: green;
}
.footer{
	font-style: italic;
    font-size: small;
	text-align: center;
	color: white;
	background-color: green;
	height: 100%;
}
